.camel{
    color: rgb(253, 184, 33);
}

.chameleon{
    color: rgb(14, 114, 14);
}

.pegion{
    color: rgb(117, 117, 117);
}

.panda{
    color: rgb(0, 0, 0);
}

.teddy{
    color: rgb(83, 51, 8);
}
